<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>about</key>
	<dict>
		<key>appName</key>
		<string>LevelHelper 2</string>
		<key>author</key>
		<string>Vladu Bogdan Daniel</string>
		<key>web</key>
		<string>http://www.gamedevhelper.com</string>
	</dict>
	<key>format</key>
	<string>APPL</string>
	<key>images</key>
	<array>
		<dict>
			<key>path</key>
			<string>levelSelect-667.png</string>
			<key>size</key>
			<string>{256.000000, 511.000000}</string>
			<key>subimages</key>
			<array>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>levelSelect2</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{44.000000, 53.000000}</string>
					<key>textureRect</key>
					<string>{{100, 401}, {44, 53}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>levelSelect16</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{67.000000, 53.000000}</string>
					<key>textureRect</key>
					<string>{{162, 229}, {67, 53}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>levelSelect10</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{70.000000, 53.000000}</string>
					<key>textureRect</key>
					<string>{{178, 2}, {70, 53}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>levelSelect1</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{21.000000, 50.000000}</string>
					<key>textureRect</key>
					<string>{{233, 229}, {21, 50}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>levelSelectLock</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{57.000000, 67.000000}</string>
					<key>textureRect</key>
					<string>{{73, 283}, {67, 57}}</string>
					<key>textureRotated</key>
					<true/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>levelSelect20</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{91.000000, 54.000000}</string>
					<key>textureRect</key>
					<string>{{163, 171}, {91, 54}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>levelSelect15</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{67.000000, 54.000000}</string>
					<key>textureRect</key>
					<string>{{178, 114}, {67, 54}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>levelSelectEmptyStar</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{32.000000, 30.000000}</string>
					<key>textureRect</key>
					<string>{{213, 319}, {32, 30}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>levelSelect14</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{68.000000, 51.000000}</string>
					<key>textureRect</key>
					<string>{{178, 59}, {68, 51}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>levelSelectLeaf</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{121.000000, 172.000000}</string>
					<key>textureRect</key>
					<string>{{1, 2}, {172, 121}}</string>
					<key>textureRotated</key>
					<true/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>levelSelectStar</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{32.000000, 30.000000}</string>
					<key>textureRect</key>
					<string>{{213, 285}, {32, 30}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>levelSelect9</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{46.000000, 51.000000}</string>
					<key>textureRect</key>
					<string>{{147, 457}, {46, 51}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>levelSelect19</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{67.000000, 52.000000}</string>
					<key>textureRect</key>
					<string>{{2, 283}, {67, 52}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>levelSelect13</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{65.000000, 54.000000}</string>
					<key>textureRect</key>
					<string>{{72, 344}, {65, 54}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>levelSelect8</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{43.000000, 53.000000}</string>
					<key>textureRect</key>
					<string>{{101, 457}, {43, 53}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>levelSelectBack</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{156.000000, 152.000000}</string>
					<key>textureRect</key>
					<string>{{2, 127}, {156, 152}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>levelSelect7</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{42.000000, 49.000000}</string>
					<key>textureRect</key>
					<string>{{148, 396}, {42, 49}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>levelSelect18</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{66.000000, 53.000000}</string>
					<key>textureRect</key>
					<string>{{2, 338}, {66, 53}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>levelSelect6</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{47.000000, 53.000000}</string>
					<key>textureRect</key>
					<string>{{50, 443}, {47, 53}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>levelSelect12</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{66.000000, 53.000000}</string>
					<key>textureRect</key>
					<string>{{144, 285}, {66, 53}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>levelSelect5</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{44.000000, 54.000000}</string>
					<key>textureRect</key>
					<string>{{1, 395}, {54, 44}}</string>
					<key>textureRotated</key>
					<true/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>levelSelect4</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{48.000000, 50.000000}</string>
					<key>textureRect</key>
					<string>{{198, 396}, {50, 48}}</string>
					<key>textureRotated</key>
					<true/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>levelSelect17</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{66.000000, 50.000000}</string>
					<key>textureRect</key>
					<string>{{144, 342}, {66, 50}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>levelSelect11</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{46.000000, 50.000000}</string>
					<key>textureRect</key>
					<string>{{197, 447}, {50, 46}}</string>
					<key>textureRotated</key>
					<true/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>levelSelect3</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{44.000000, 54.000000}</string>
					<key>textureRect</key>
					<string>{{2, 443}, {44, 54}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
			</array>
		</dict>
	</array>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
