<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alpha</key>
	<real>255</real>
	<key>anchor</key>
	<string>{0.500000, 0.500000}</string>
	<key>assetUUID</key>
	<string>FD187235-E3EC-44DB-BCA7-BC711EEF1626</string>
	<key>children</key>
	<array>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.500000, 0.500000}</string>
			<key>children</key>
			<array>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.500000, 0.500000}</string>
					<key>colorOverlay</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>generalPosition</key>
					<string>{0.000000, 0.000000}</string>
					<key>imageFileName</key>
					<string>levelSelect.png</string>
					<key>invisibleInEditor</key>
					<false/>
					<key>name</key>
					<string>counter</string>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>3885480F-02BA-4645-9A4A-2AA311AF464C</string>
					<key>relativeImagePath</key>
					<string>publishedResources/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1.000000, 1.000000}</string>
					<key>size</key>
					<string>{21.000000, 50.000000}</string>
					<key>spriteName</key>
					<string>levelSelect1</string>
					<key>spriteUUID</key>
					<string>038D2F14-8ED0-45E2-8B69-2FF33ED2343C</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>983817FF-3576-4FCA-9FDA-248E0023B08F</string>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.500000, 0.500000}</string>
					<key>colorOverlay</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>generalPosition</key>
					<string>{-0.012676, 0.086801}</string>
					<key>imageFileName</key>
					<string>levelSelect.png</string>
					<key>invisibleInEditor</key>
					<false/>
					<key>name</key>
					<string>lock</string>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>3885480F-02BA-4645-9A4A-2AA311AF464C</string>
					<key>relativeImagePath</key>
					<string>publishedResources/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{0.500000, 0.500000}</string>
					<key>size</key>
					<string>{57.000000, 67.000000}</string>
					<key>spriteName</key>
					<string>levelSelectLock</string>
					<key>spriteUUID</key>
					<string>7AF5170E-E5D8-4A3F-B8F2-CF92E84C3A4E</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>D1429FF9-ED28-4C66-8F77-D0A6DEA23446</string>
					<key>zOrder</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>colorOverlay</key>
			<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
			<key>generalPosition</key>
			<string>{-0.005995, 0.004266}</string>
			<key>imageFileName</key>
			<string>levelSelect.png</string>
			<key>invisibleInEditor</key>
			<false/>
			<key>name</key>
			<string>leaf</string>
			<key>nodeType</key>
			<string>LHSprite</string>
			<key>parentUUID</key>
			<string>3F3F8DC9-867F-4398-82A6-EEF88F0E924C</string>
			<key>relativeImagePath</key>
			<string>publishedResources/</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1.000000, 1.000000}</string>
			<key>size</key>
			<string>{121.000000, 172.000000}</string>
			<key>spriteName</key>
			<string>levelSelectLeaf</string>
			<key>spriteUUID</key>
			<string>4AE18184-5ED9-4410-A09C-E5ECF7D255C9</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>3885480F-02BA-4645-9A4A-2AA311AF464C</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.500000, 0.500000}</string>
			<key>children</key>
			<array>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.500000, 0.500000}</string>
					<key>colorOverlay</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>generalPosition</key>
					<string>{-0.016665, 0.022877}</string>
					<key>imageFileName</key>
					<string>levelSelect.png</string>
					<key>invisibleInEditor</key>
					<false/>
					<key>name</key>
					<string>emptyStarA</string>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>14B6D85E-46BA-4DEE-9674-BE41FA5DDB3E</string>
					<key>relativeImagePath</key>
					<string>publishedResources/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1.000000, 1.000000}</string>
					<key>size</key>
					<string>{32.000000, 30.000000}</string>
					<key>spriteName</key>
					<string>levelSelectEmptyStar</string>
					<key>spriteUUID</key>
					<string>B700ADCB-4EE5-49ED-A498-F0273055EDA3</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>CBC4040A-0F58-4AE4-8E57-051589DA4705</string>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>alpha</key>
					<real>0.0</real>
					<key>anchor</key>
					<string>{0.500000, 0.500000}</string>
					<key>colorOverlay</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>generalPosition</key>
					<string>{-0.016665, 0.022877}</string>
					<key>imageFileName</key>
					<string>levelSelect.png</string>
					<key>invisibleInEditor</key>
					<false/>
					<key>name</key>
					<string>fillStarA</string>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>14B6D85E-46BA-4DEE-9674-BE41FA5DDB3E</string>
					<key>relativeImagePath</key>
					<string>publishedResources/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1.000000, 1.000000}</string>
					<key>size</key>
					<string>{32.000000, 30.000000}</string>
					<key>spriteName</key>
					<string>levelSelectStar</string>
					<key>spriteUUID</key>
					<string>9DA2D113-734B-41D5-BFFF-111A1F78548A</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>DE270BD6-5AC3-41D2-ADCA-A0B3534DC44C</string>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.500000, 0.500000}</string>
					<key>colorOverlay</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>generalPosition</key>
					<string>{-0.000014, 0.002496}</string>
					<key>imageFileName</key>
					<string>levelSelect.png</string>
					<key>invisibleInEditor</key>
					<false/>
					<key>name</key>
					<string>emptyStarB</string>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>14B6D85E-46BA-4DEE-9674-BE41FA5DDB3E</string>
					<key>relativeImagePath</key>
					<string>publishedResources/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1.000000, 1.000000}</string>
					<key>size</key>
					<string>{32.000000, 30.000000}</string>
					<key>spriteName</key>
					<string>levelSelectEmptyStar</string>
					<key>spriteUUID</key>
					<string>B700ADCB-4EE5-49ED-A498-F0273055EDA3</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>B2B3C3B3-B08D-4CFE-ABF0-DB8C77610E5A</string>
					<key>zOrder</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>alpha</key>
					<real>0.0</real>
					<key>anchor</key>
					<string>{0.500000, 0.500000}</string>
					<key>colorOverlay</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>generalPosition</key>
					<string>{-0.000014, 0.002496}</string>
					<key>imageFileName</key>
					<string>levelSelect.png</string>
					<key>invisibleInEditor</key>
					<false/>
					<key>name</key>
					<string>fillStarB</string>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>14B6D85E-46BA-4DEE-9674-BE41FA5DDB3E</string>
					<key>relativeImagePath</key>
					<string>publishedResources/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1.000000, 1.000000}</string>
					<key>size</key>
					<string>{32.000000, 30.000000}</string>
					<key>spriteName</key>
					<string>levelSelectStar</string>
					<key>spriteUUID</key>
					<string>9DA2D113-734B-41D5-BFFF-111A1F78548A</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>CD1E4A22-7374-494B-9F46-0E2E9FEBB3DC</string>
					<key>zOrder</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.500000, 0.500000}</string>
					<key>colorOverlay</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>generalPosition</key>
					<string>{0.014946, -0.021318}</string>
					<key>imageFileName</key>
					<string>levelSelect.png</string>
					<key>invisibleInEditor</key>
					<false/>
					<key>name</key>
					<string>emptyStarC</string>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>14B6D85E-46BA-4DEE-9674-BE41FA5DDB3E</string>
					<key>relativeImagePath</key>
					<string>publishedResources/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1.000000, 1.000000}</string>
					<key>size</key>
					<string>{32.000000, 30.000000}</string>
					<key>spriteName</key>
					<string>levelSelectEmptyStar</string>
					<key>spriteUUID</key>
					<string>B700ADCB-4EE5-49ED-A498-F0273055EDA3</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>F1EF16D9-A418-4330-908A-DEB6398797CE</string>
					<key>zOrder</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>alpha</key>
					<real>0.0</real>
					<key>anchor</key>
					<string>{0.500000, 0.500000}</string>
					<key>colorOverlay</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>generalPosition</key>
					<string>{0.014946, -0.021318}</string>
					<key>imageFileName</key>
					<string>levelSelect.png</string>
					<key>invisibleInEditor</key>
					<false/>
					<key>name</key>
					<string>fillStarC</string>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>14B6D85E-46BA-4DEE-9674-BE41FA5DDB3E</string>
					<key>relativeImagePath</key>
					<string>publishedResources/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1.000000, 1.000000}</string>
					<key>size</key>
					<string>{32.000000, 30.000000}</string>
					<key>spriteName</key>
					<string>levelSelectStar</string>
					<key>spriteUUID</key>
					<string>9DA2D113-734B-41D5-BFFF-111A1F78548A</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>9E0FAE8E-2904-49B2-9EA7-CC3D6E3FE431</string>
					<key>zOrder</key>
					<integer>2</integer>
				</dict>
			</array>
			<key>colorOverlay</key>
			<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
			<key>generalPosition</key>
			<string>{0.036264, 0.078456}</string>
			<key>invisibleInEditor</key>
			<false/>
			<key>name</key>
			<string>stars</string>
			<key>nodeType</key>
			<string>LHNode</string>
			<key>parentUUID</key>
			<string>3F3F8DC9-867F-4398-82A6-EEF88F0E924C</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1.000000, 1.000000}</string>
			<key>size</key>
			<string>{56.965389, 64.067963}</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>14B6D85E-46BA-4DEE-9674-BE41FA5DDB3E</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>colorOverlay</key>
	<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
	<key>generalPosition</key>
	<string>{0.066667, 0.100000}</string>
	<key>invisibleInEditor</key>
	<false/>
	<key>name</key>
	<string>Untitled</string>
	<key>nodeType</key>
	<string>LHAsset</string>
	<key>parentUUID</key>
	<string>0BE04895-D397-4166-8A57-33F280B48F61</string>
	<key>rotation</key>
	<real>0.0</real>
	<key>scale</key>
	<string>{1.000000, 1.000000}</string>
	<key>size</key>
	<string>{130.947266, 179.096634}</string>
	<key>tags</key>
	<array>
		<string>DEFAULT</string>
	</array>
	<key>uuid</key>
	<string>3F3F8DC9-867F-4398-82A6-EEF88F0E924C</string>
	<key>zOrder</key>
	<integer>0</integer>
</dict>
</plist>
